{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> Lessons </h1>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'lessons_list' %}" 
        role="button"> View All Lessons </a>
    </p>
</div>
{% endblock content %}