{% extends 'base.html' %}
{% block title %}Lessons{% endblock title %}
{% block content %}
{% for lesson in object_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ lesson.title }}</span> &middot;
        <span class="text-muted">{{ lesson.date }}</span>
    </div>
    <div class="card-body">
        {{ lesson.body }}
    </div>
    <div class="card-footer text-center text-muted">
        <a href="{% url 'lesson_edit' lesson.pk %}">Edit</a> |
        <a href="{% url 'lesson_delete' lesson.pk %}">Delete</a>
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}