<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher Create</title>
  </head>
  <body>
      <a href="{% url 'teacher_create' %}">Регистрация учителя</a>

  </body>
</html>
